@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family:'poppins',sans-serif;
    width:100%;
    height: auto;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap:wrap;
    overflow: hidden;
    margin-top: 0%;
}
header .menu_side, .song_side{
    position: relative;
    width: 20%;
    height: auto;
    background-color:#243050;
    box-shadow:5px 0px 2px #4a4e58;
    color:#fff;
}
header .song_side{
    width:80%;
     /* background:#0b1320; */
     background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
     height: fit-content;
}

/* .song_side .content{
    color: whitesmoke;
} */

header .menu_side h1{
    font-size:20px;
    margin:15px 0px 0px 20px;
    font-weight:500;
    text-shadow: 2px 2px 4px rgb(15, 46, 75);
}
header .menu_side .playlist{
    margin:40px 0px 0px 20px;
}
header .menu_side .playlist h4{
    font-size:14px;
    font-weight:400;
    padding-bottom:10px;
    color:#4c5262;
    cursor: pointer;
    align-items:center; 
    transition:.3s linear;

}
header .menu_side .playlist h4:hover{
    color: #fff;
}
header .menu_side .playlist h4 span{
   position: relative; 

}
header .menu_side .playlist h4 span::before{
    content:'';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%; 
    top: -4px;
    transition: .3s linear;
}
header .menu_side .playlist h4 span::before:hover{
    border: 2px solid #fff ;
}
header .menu_side .playlist h4 .bi{
    width: 20%;
    margin-right: 30px;
}
header .menu_side .playlist .active{
    color: #36e2ec;
}
header .menu_side .playlist .active span{
    display: none;
}
header .menu_side .playlist .active a{
    text-decoration: none;
    color: #36e2ec;
}
header .menu_side .playlist .active a:hover{
    color: #fff;
}
header .menu_side .playlist .logout{
   margin-top: 80px;
}

.circle-frame {
    background-position: 50% 35%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 90px;
    min-width: 20%; /* depends on size of photo & container */
    height: auto; /* just to reset to default if needed */
    padding-top: 10%; /* must equal min-width to make a circle */
    margin-left: 20px;

  }
  .profilepic{
    border-radius: 100px;
    min-width: 30%;
    height: 100px;
  }
  header .menu_side h5{
    margin:20px 0px 0px 20px;
  }
    header .song_side{
        height: fit-content;
        z-index: 2;
  }
  header .song_side nav{
    width: 90%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .song_side nav .search{
   position: relative;
   width: 500px;
   padding: 1px 10px;
   border-radius: 20px;
   background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
   margin-right: 50%;
   box-shadow: 1px 0px 1px 2px rgba(61, 132, 180, 0.904);
  }

   header .song_side nav .search::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 20px;
   /* background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%); */
   backdrop-filter: blur(5px);
   z-index: -1;
   }
   header .song_side nav .search .bi{
   font-size: 18px;
   padding: 3px 0px 0px 10px;
   color:  #135053;
    }
    header .song_side nav .search input{
        background: none;
        color: rgb(46, 44, 44);
        outline: none;
        border: none;
        padding: 0px 10px;
        font-size: 15px;
        font-weight: bold;
        /* text-align: center; */
    }
    input, ::placeholder{
        color: #135053;
    }
    header .song_side nav .user{
        position: relative;
        margin-top: 20px;
        width: 50px;
        line-height: 15px;
        /* border-radius: 50%; */
        cursor: pointer;
    }
    /* header .song_side nav .user img{
        position: absolute;
        width: 80px;
        height: 150px;
        border-radius: 50%; 
         box-shadow: #131312;
    } */
    header .song_side .content{
        width: 90%;
        height: 30%;
        margin: auto;
        padding-top: 20px;

    }
    header .song_side .content h1{
        font-size: 25px;
        font-weight: 600;
        text-shadow: 2px 2px 4px rgb(8, 37, 65);
        letter-spacing: 1px;
        text-transform:uppercase;

    }
    header .song_side .content p{
        font-size: 18px;
        font-weight: 400;
        color: goldenrod;
        margin:5px;
        text-shadow: 2px 2px 4px grey;

    }

    header .song_side .content{
        color: whitesmoke;
    }

    header .song_side .content .buttons{
        
        margin-top:15px;
    }
    header .song_side .content .buttons button{
        width: 180px;
        height: 30px;
        border: 2px solid #87afeb;
        outline: none;
        border-radius: 20px;
        border: 2px solid #277ceb;
        background:none;
        color: rgb(240, 244, 245);
        cursor: pointer;
        transition: .3s linear;
        font-size: 16px;
        text-shadow: 2px 2px 4px rgb(109, 108, 81);
        background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
        /* text-transform: uppercase; */
    }
    header .song_side .popular_songs{
        width: 97%;
        height: auto;
        margin: auto;
        margin-top: -5px;
        box-shadow: 0px 3px 8px 0px rgb(121, 121, 118) ; 
        border-radius: 10px;

        /* position: fixed; */
    }
    header .song_side .popular_songs .h4{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      padding: 10px;
      letter-spacing: 2px;
      text-shadow: 2px 2px 4px rgb(72, 146, 214);
        
    }
    header .song_side .popular_songs .h4 .bi{
       /* background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%); */
       cursor: pointer;
       transition: .3s linear;
       color:rgba(250, 205, 6, 0.993) !important;
       
          
      }
      header .song_side .popular_songs .h4 .bi:hover{
         color: rgb(155, 190, 255); 
         width: 100%;
          
      }
      header .song_side .popular_songs .pop_song{
        width: 100%;
        height: auto;
        margin-top: 15px;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        /* border-radius: 10px; */
      }
      header .song_side .popular_songs .pop_song::-webkit-scrollbar{
      display: none;
      }
      header .song_side .popular_songs .pop_song li{
        min-width: 100px;
        height: 140px;
        list-style-type: none; 
        margin-right: 100px;
        transition: 3s linear;
        
      }
      header .song_side .popular_songs .pop_song li:hover{
        background: rgb(105,105,170,.1);
      }
      header .song_side .popular_songs .pop_song li .img_play{
       
       width: 180px;
       height: 180px;
       display: flex;
       align-items: center;
       justify-content: center;

      }
      header .song_side .popular_songs .pop_song li .img_play img{
        
       width: 100%;
       height: 100%;
       box-shadow: 2px 3px 8px 2px rgb(105, 105, 104) ;
       border-radius: 20px;
       }
       header .song_side .popular_songs .pop_song li .img_play .bi{
        position: absolute;
        font-size: 20px;
        cursor: pointer;
        transition: .3s linear;
         opacity: 0;
        }
        header .song_side .popular_songs .pop_song li .img_play:hover .bi:hover{
        opacity: 1;
     }
     header .song_side .popular_songs .pop_song li h5{
       padding: 8px 0px 0px 5px;
       line-height:25px;
       font-size:10px;
       font-weight: bold;
       letter-spacing: 2px;
      text-shadow: 2px 2px 4px rgb(15, 46, 75);

     }

 
         

    

   
  
   
  





