*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
}
body{
  width: 100%;
  
}
/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}

.quote{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: whitesmoke;
  box-shadow: 0px 3px 8px 0px rgb(0,0,0,0.3) ;
  background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
	text-shadow: 2px 2px 4px rgb(254, 225, 255);
  margin-top: 10px;
  padding: 5px 10px;
}

.main{
  display: flex;
  flex-direction: row;
  grid-gap: 20px;
  width: 100%;
  margin-top: 30px;
}
.container{
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  width: 25%;
}

.total_donee,.total_donor,.total_users,.total_requests{
  padding: 20px;
  background-color: red;
  text-align: center;
  color: rgb(94, 149, 184);
  text-shadow: 2px 2px 4px rgb(176, 239, 255);
  width: 100%;
  font-weight: bold;
  height: 115px;
}


.total_donor{
  /* background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%); */
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
  box-shadow: 0px 3px 8px 0px rgb(0,0,0,0.3) ;
}

.total_users{
  background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
  box-shadow: 0px 3px 8px 0px rgb(0,0,0,0.3) ;

}

.total_requests{
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  box-shadow: 0px 3px 8px 0px rgb(0,0,0,0.3) ;
}

.number{
  font-weight: bold;
  font-size: 40px;
}

.tables{
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  width: 100%;
}

.feedbacks,.donors{
  width: 100%;

}
.users{
  margin-top: 20px;
}