*{
             margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            font-family: "Rubik";
            color: #fff;
        }
        section{
            /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../image/bgadmin.png");
			background: linear-gradient(-135deg, #559dce, #8741a3);  */
            background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
            height: 100vh;
            width: 100%;
            background-size: cover;
            background-position: center center;
        }
        .form-container{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 380px;
            padding: 50px 30px;
            border-radius: 10px;
            box-shadow:7px 7px 60px #000;

        }
        h1{
            color: #ffffff;
            font-size: 2em;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 2rem;
            letter-spacing: 3px;
        }
        .control label{
            font-size:20px;
            letter-spacing: 1px;
        }
        .control input{
            padding: 10px;
            font-size: 16px;
            display: block;
            width: 100%;
            color:#000;
            background: #ddd;
            outline: none;
            border: none;
            border-radius: 5px;
            margin: 1em 0;

        }         
        .control .btn{
            color: #fff;
            text-transform: uppercase;
            background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
            opacity: 1;
            transition:opacity .3s ease;
        }
        .btn:hover{
            opacity:0.5; 
			transform: translateY(-2px);
    }